#grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

#grid>label,
input {
    padding: 4px;
}

#settings::slotted {
    margin: auto;
}

#settings {
    /*background-color: cadetblue;*/
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: 50%;
    margin: auto;
    padding: 1%;
    align-content: center;
    display: block;
    left: 1%;
}

h3,
h4 {
    text-align: center;
}

label {
    font-weight: bold;
}

#send {
    text-align: center;
}

#send>button {
    margin: 1%;
}