<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>

<div id="settings">

    <h3>Settings</h3>
    <h4>Speed</h4>
    <div id="grid">
        <label for="ConveyorSpeed">Conveyor Speed</label> <input type="number" placeholder="m/s" id="ConveyorSpeed">
        <label for="RotationSpeed">Rotation Speed</label> <input type="number" placeholder="°/s" id="RotationSpeed">
    </div>
    <h4>Rotation </h4>
    <div id="grid">
        <label for="minRot">Minmal Rotation </label> <input type="number" min="0" max="355" placeholder="°" id="minRot">
        <label for="maxRot">Maximal Rotation </label> <input type="number" min="5" max="360" placeholder="°" id="maxRot">
    </div>

    <div id="send">
        <button>Set</button><button>Reset</button>
    </div>
</div>